*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece9c0;
}
.quadrado{
    display: flex;
}
.card-left{
    background-color: #EFFB0C;
    width: 29rem;
    height: 30rem;
    border-radius: 10%;
    display: flex;
    align-items: flex-end;
    border: 4px solid #000;
    box-shadow: 3rem 3rem 3rem -3rem;
}
.table{
    background-color: #e2d6d6;
    width: 28.6rem;
    height: 25rem;
    flex-direction: column;
    display: flex;
    border-radius: 0 0 3rem 3rem;
    border-top: 4px solid #000;
}
.palito{
    background-color: #eee0e0;
    width: 2rem;
    height: 5rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
    border: 4px solid;
}
.quadradinho{
    display: flex;
    flex-direction: column;
}
.cadastrar{
    color: #ffffff;
    background-color: rgb(55, 134, 55);
    flex-direction: row;
    width: 12rem;
    height: 2.6rem;
    border-radius: 7rem ;
    border: none;
}
.cadastrar :hover{
    background-color: rgb(133, 204, 133);
}
.linha01{
    display: flex;
    justify-content: space-evenly;
}
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30rem;
    height: 25rem;
}
input{
    height:2rem;
    width: 20rem;
}
.img{
    height: 600px;
    width: 300px;
}